In [59]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import extract
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [58]:
#pip install dataframe-image
import dataframe_image as dfi

In [60]:
##import dependencies/background

In [61]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

Base.classes.keys()

['measurement', 'station']

In [62]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [63]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [64]:
# Import the sqlalchemy extract function.

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
June_temps = session.query(Measurement).filter(extract('month',Measurement.date) == 6).all()
#June_temps

In [65]:
# 2. Convert the June temperatures to a list.
June_temps_list = [temp.tobs for temp in June_temps] 
#June_temps_list

In [66]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
June_temps_df=pd.DataFrame(June_temps_list, columns=['June Temps'])
June_temps_df

      June Temps
0           78.0
1           76.0
2           78.0
3           76.0
4           77.0
...          ...
1695        79.0
1696        74.0
1697        74.0
1698        76.0
1699        75.0

[1700 rows x 1 columns]

In [67]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
June_temps_summary=June_temps_df.describe()
June_temps_summary

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [74]:
#export
dfi.export(June_temps_summary, "Images\June_temps_summary.png")

## D2: Determine the Summary Statistics for December

In [68]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.. 
Dec_temps = session.query(Measurement).filter(extract('month',Measurement.date) == 12).all()
#Dec_temps

In [69]:
# 7. Convert the December temperatures to a list.
Dec_temps_list = [temp.tobs for temp in Dec_temps]

In [70]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
Dec_temps_df=pd.DataFrame(Dec_temps_list, columns=['Dec Temps'])
Dec_temps_df

      Dec Temps
0          76.0
1          74.0
2          74.0
3          64.0
4          64.0
...         ...
1512       71.0
1513       71.0
1514       69.0
1515       65.0
1516       65.0

[1517 rows x 1 columns]

In [71]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_temps_summary=Dec_temps_df.describe()
Dec_temps_summary

         Dec Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [75]:
#export
dfi.export(Dec_temps_summary, "Images\Dec_temps_summary.png")